<!-- <nav class ="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
    <li class ="nav-item">
        <a routerLink="/" routerLinkActive="active" class="nav-link">Log in?</a>
    </li>
    
  </ul>
</nav> -->


<div class="container-fluid" >
    <div class="row" class="xyz" >
        <!-- <div class="col-md-7"> -->
          <!-- <img   src="https://i.pinimg.com/550x/94/fb/9e/94fb9e94f0db7e3d429df2d9c64527d2.jpg" alt="Trulli" width="820" height="1050"></div> -->
        
          
        <div  border-style="double" style="background-color: white;">
            <!-- <h3 c="text-success text-center"><b></b></h3> -->
           
            <form action="" class="abc">
                <h1 class="text-primary mb-3" style="text-align: center;">SIGN UP</h1>
                <div class="form-floating mb-3"> 
                  <label for="floatingInput">FULL NAME</label>
                    <input type="email" class="form-control" id="floatingInput"  name="name" [(ngModel)] ="name">
                   
                  </div>

                  <div class="form-floating mb-3"> 
                    <label for="floatingInput">USERNAME</label>
                    <input type="email" class="form-control" id="floatingInput"  name="username" [(ngModel)] ="username">
                   
                  </div>

                  <div class="form-floating mb-3"> 
                    <label for="floatingInput">EMAIL</label>
                    <input type="email" class="form-control" id="floatingInput"  name="email" [(ngModel)] ="email">
                    
                  </div>

                  <div class="form-floating mb-3">
                    <label for="floatingPassword">PASSWORD</label>
                    <input type="password" class="form-control" id="floatingPassword"  name ="password" [(ngModel)] ="password">
                    
                  </div>

                  <div class="form-floating mb-3"> 
                    <label for="floatingInput">MOBILE NO</label>
                    <input type="text" class="form-control" id="floatingInput"  name="mobile" [(ngModel)] ="mobile">
                    
                  </div>

                  <div class="form-floating mb-3"> 
                    <label for="floatingInput">ADDRESS</label>
                    <input type="text" class="form-control" id="floatingInput"  name="address" [(ngModel)] ="address">
                    
                  </div>

                  <div class="form-floating mb-3"> 
                    <label for="floatingInput">CITY</label>
                    <input type="text" class="form-control" id="floatingInput"  name="city" [(ngModel)] ="city">
                    
                  </div>

                  <div class="form-floating mb-3"> 
                    <label for="floatingInput">STATE</label>
                    <input type="text" class="form-control" id="floatingInput"  name="state" [(ngModel)] ="state">
                  
                  </div>

                  <div class="form-floating mb-3"> 
                    <label for="floatingInput">PINCODE</label>
                    <input type="text" class="form-control" id="floatingInput"  name="pincode" [(ngModel)] ="pincode">
                   
                  </div>


                  <div class="form-floating mb-3"> 
                    <label style='margin-left:10px'for="floatingInput">AGE</label>
                    <input type="text" class="form-control" id="floatingInput"  name="age" [(ngModel)] ="age">
                    
                  </div>
                  


                  
                  <div class="form-floating mb-3"> 
                    <label   for="floatingInput">GENDER:</label>
                    
                      <input  style='margin-left:225px'type="radio"  id="male" name ="gender" value="male" [(ngModel)] ="gender">MALE
                      <input style='margin-left:225px' type="radio" id="female" name="gender" value="female" [(ngModel)] ="gender">FEMALE
       
                  </div>
                  
                  
                    <div class="form-floating mb-3"> 
                  <label  for="floatingInput"  >REGISTER AS:</label>
                  <input style='margin-left:195px'  type="radio"  id="user" name="type" value="user" [(ngModel)] ="type">USER
                  <input style='margin-left:225px' type="radio" id="volunteer" name="type" value="volunteer" [(ngModel)] ="type">HERO
                  </div>

                  
                  <div class="form-floating mb-3">
                    <button  class="btn btn-outline-success me-md-2"  type="button" (click) ="login()" >LOG IN ?</button>
                    <button class="btn btn-outline-success me-md-2" style='margin-left:375px' type="button" (click) ="signup()">CREATE ACCOUNT</button>
                    
                  </div>
                
            </form>
        </div>
        <div class="col-md-2">
           
        </div>
    </div>
<!-- </div> -->

<!-- <footer class ="footer">
  <div class="container">
    <span>All Rights Reserved 2022 @kushal</span>
  </div>
</footer> -->